<body >
<header>
<style>
.logo{
color:#DADADA;
background-color:#333333;
width:30px;
height:30px;
float:left;
margin-left:200px;
font-size:28px;
padding:0px;
text-align:center;
font-style:italic;
border-radius:15px;
margin-right:10px;

}
</style>

<div class="logo" style="color:#DADADA;
background-color:#333333;
width:30px;
height:30px;
float:left;
margin-left:200px;
font-size:28px;
padding:0px;
text-align:center;
font-style:italic;
border-radius:15px;
margin-right:10px;">
				<p style="margin:0px;"> dt </p>
	   		</div>
	   	 THE PLATFORM  </header>
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="width:80%">
		<tr>
			<td valign="top">
				<table cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td width="200" valign="top">
							<img class="image_fix"			src="http://meadowlarktravel.com/email/logo.png"
							alt="Meadowlark Travel" title="Meadowlark Travel"					width="80%" height="80%" />
						</td>
					</tr>
					<tr>
						<td width="200" valign="top">
							<p>
								Thank you for booking your trip with Meadowlark Travel,	{{name}}.</p><p>Your reservation number	is {{number}}.
							</p>
						</td>
					</tr>
					<tr>
						<td  valign="top">
							Problems with your reservation?	Contact Meadowlark Travel at	<span class="mobile_link">555-555-0123</span>.
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>