2<body >
<header>
<style>
.logo{
color:#DADADA;
background-color:#333333;
width:30px;
height:30px;
float:left;
margin-left:200px;
font-size:28px;
padding:0px;
text-align:center;
font-style:italic;
border-radius:15px;
margin-right:10px;

}
</style>

<div class="logo" style="color:#DADADA;
background-color:#333333;
width:30px;
height:30px;
float:left;
margin-left:200px;
font-size:28px;
padding:0px;
text-align:center;
font-style:italic;
border-radius:15px;
margin-right:10px;">
				<p style="margin:0px;"> IST </p>
	   		</div>
	   	 THE ISSUE TRACKER  </header>
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="width:80%">
		<tr>
			<td valign="top">
				<table cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td width="200" valign="top">
							<p>	Thanks for using our service./p>
							<p>	We have successfully fix you bug on the subject:/p>
						</td>
					</tr>
					<tr>
						<td width="200" valign="top">
							<p>	{{subject}} <p>
							Best regards.
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>