
<script src="/js/login.js"></script>
    <form method="post"  id="signin" style="width:40%;height:50%" >
    <fieldset>
        <legend> Login </legend>
    <span id="result"> </span>
    Email: <br><input type="email" name="email" id="email"  required><br>
    Password: <br><input type="password" name="password" id="password"  required><br>
    <button type="submit" class="submit"  value="Submit">Signin</button> <br />
    <p style="margin-bottom:10px"> or signin  using </p>
    <button id="googlesignin" style="width:50px;background-color:#dd4b39"  > Google </button> 
    <button id="facebooksignin" style="width:65px;background-color:#3b5998"  > Facebook </button> 
    <button id="twittersigin" style="width:50px;background-color:#55ACEE"  > Twitter </button> 
    <button id="gitsignin" style="width:50px;background-color:#80FF80"  > Github </button> 
    <br />
    <p>I don't have an account <button id="signup" style="width:50px"  > Signup </button>  </p>
    </fieldset>
    </form>